.background{
    height:1100px;
    background-image: url("../Images/OG.background\ -\ Copy.NotFlipped.jpg");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;
}

.home{
    padding: 0px 15px 0px 15px;
}

.projects{
    padding: 0px 15px 0px 15px;
}

.contact{
    padding: 0px 15px 0px 15px;
}

.welcome{
    align-content: center;
    color: black;
    padding-top:10%;
    padding-left:30%;
    text-align: center;
    padding-bottom: 30%;
    font-family: 'Merienda One', cursive;
}

.name{
    margin: 0% !important;
    font-size:60px;
    align-content: center;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.bio {
    padding: 0px 25% 0px 25%;
}

.links {
    padding-top:1%;
}

.links a{
    padding: 0 2% 0 2%;
}

.about{
    height:1000px;
    background-image:url("../Images/sCPGJKu.jpg");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;
    color:white;
}

.technologies{
    padding-left:55%;
    padding-top:10%;
    font-family: 'Source Code Pro';
}

.footer{
    text-align:center;
    padding-top:2%;
}
