.background{
    height:1100px;
    background-image: url("../Images/OG.background\ -\ Copy.NotFlipped.jpg");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;
}

.home{
    padding: 0px 15px 0px 15px;
}

.projects{
    padding: 0px 15px 0px 15px;
}

.contact{
    padding: 0px 15px 0px 15px;
}

.welcome{
    align-content: center;
    color: black;
    padding-top:10%;
    padding-left:30%;
    text-align: center;
    padding-bottom: 30%;
    font-family: 'Merienda One', cursive;
}


.name{
    margin: 0% !important;
    font-size:60px;
    align-content: center;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

p {
    background-color:rgba(#121212, 0.8);
}

.bio {
    padding: 2vh 2vh;
    margin: 0 30vh;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.links,
.link:visited
 {
    padding-top:1%;
    margin: 0 30vh;
    background-color: rgba(0,0,0,0.4);
}

.links a{
    padding: 0 2% 0 2%;
    text-decoration: none;
    color:#fff;
}

.gmail {
    margin: 0 30vh;
    padding-top: 2vh;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

.about{
    height:1000px;
    background-image:url("../Images/sCPGJKu.jpg");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;
    color:white;
    margin-top: -20vh;
}

.technologies{
    padding-left:55%;
    padding-top:10%;
    font-family: 'Source Code Pro';
}

.footer{
    text-align:center;
    padding-top:2%;
}
