.contactBody{
    height:100vh;
    background-image: url("../Images/Nwq7vEv.jpg");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;
}

#contact-form{
    padding:5% 60% 0 10%;
    align-content: center;
}

#submit{
    background-color:blue;
    color:white;
    border:none;
}
