body{
    height:100vh;
    background-image: url("../Images/Nwq7vEv.jpg");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover;
}

.contact {
    width: 100%;
    margin: 0 auto;
    background-color: orangered;
    height: 60vh;
    margin-top: 200px;
}

.contact-title {
    margin: 0 auto;
    text-align: center;
}

.contact-info {
    margin: 0 auto;
    text-align: center;
}